{% extends 'base.html' %} {% block style %}
<style>
  input {
    padding: 2px 5px;
  }
</style>
{% endblock style %} {% block context %}

<div class="position-relative" style="height: 90vh">
  <div
    class="position-absolute top-50 start-50 container d-flex flex-column justify-content-center align-items-center"
    style="transform: translate(-50%, -50%)"
  >
    <h1>비밀번호 변경</h1>
    <form action="" method="POST">
      {% csrf_token %}
      <div
        class="card border-0 bg-transparent d-flex px-5 flex-column gap-5 mt-5 mb-5"
      >
        <div>
          <p class="mb-1">기존 비밀번호</p>
          {{ form.old_password }}
        </div>
        <div class="d-flex gap-5">
          <div>
            <p class="mb-1">새 비밀번호</p>
            {{ form.new_password1 }}
          </div>
          <div>
            <p class="mb-1">새 비밀번호 재확인</p>
            {{ form.new_password2 }}
          </div>
        </div>
        <button class="btn btn-primary mt-5 border-none rounded-3">
          비밀번호 변경
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock context %}
