{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'detail.css' %}" type="text/css" />
{% endblock style %} {% block context %}
<div class="position-relative">
  <div class="container col-12 col-md-8 col-lg-6 mx-auto position-relative">
    <div class="position-absolute end-0 pe-3 mt-5">
      <h6 class="text-end">{{ article.created_at }}</h6>
      {% if request.user == article.user %}
      <div class="d-flex align-items-end">
        <form action="{% url 'articles:update' article.pk %}" method="GET">
          {% csrf_token %}
          <button
            type="submit"
            class="rounded-pill border-0 bg-transparent me-1 text-light"
            aria-label="edit button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pen"
              viewBox="0 0 16 16"
            >
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
              />
            </svg>
          </button>
        </form>
        <form action="{% url 'articles:delete' article.pk %}" method="POST">
          {% csrf_token %}
          <button
            type="submit"
            class="rounded-pill border-0 bg-transparent me-1 text-light"
            aria-label="delete button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
              />
              <path
                fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
              />
            </svg>
          </button>
        </form>

        <!-- 멤버 관리 페이지 이동 -->
        <a
          href="{% url 'articles:member' article.pk %}"
          class="btn btn-primary text-decoration-none"
          >멤버 관리 페이지</a
        >
      </div>
      <!-- 본인 글이 아닐 경우 참가 버튼 -->
      {% else %}

        {% if isMember %}
          <form action="{% url 'articles:delete_member' article.pk %}" method="POST" class="float-end">
            {% csrf_token %}
            <button class="applyBtn btn btn-danger rounded-pill">참여 취소</button>
          </form>
        {% else %}
          <form
            id="applyForm"
            action="{% url 'articles:apply' article.pk %}"
            method="POST"
            class="float-end"
          >
            {% csrf_token %}
            {% if isApplicant %}
              {% if not isFullMember %}
                <button class="applyBtn btn btn-primary rounded-pill">지원 취소</button>
              {% endif %}
            {% else %}
              {% if not isMember %}
                {% if not isFullMember %}
                  <button class="applyBtn btn btn-primary rounded-pill">지원</button>
                {% endif %}
              {% endif %}
            {% endif %}
          </form>
        {% endif %}
      {% endif %}
    </div>
    <h1 class="d-flex justify-content-center fs-3">{{ article.title }}</h1>
    <br>
    <br>
    <h2 class="fs-5 mb-3">
      작성자:<a href="{% url 'accounts:profile' article.user %}" class="test"
        >{{ article.user.nickname }}</a
      >
    </h2>
    {% if article.thumbnail or photos|length %}
    <div class="csell container w-100 h-50 mb-3 p-0">
      <div
        id="carouselExampleIndicators"
        class="carousel w-100"
        data-bs-ride="carousel"
      >
        <div id="carouselButton" class="carousel-indicators">
          {% if article.thumbnail %}
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            aria-label="Slide 1"
          ></button>
          {% endif %} {% if article.thumbnail %} {% for photo in photos %}
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="{{ forloop.counter }}"
            aria-label="Slide {{ forloop.counter|add:'1' }}"
          ></button>
          {% endfor %} {% else %} {% for photo in photos %}
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="{{ forloop.counter|add:'-1' }}"
            aria-label="Slide {{ forloop.counter }}"
          ></button>
          {% endfor %} {% endif %}
        </div>
        <div class="carousel-inner text-center">
          <div class="carousel-item w-100 h-50">
            <img
              src="/media/{{ article.thumbnail }}"
              alt="{{article.title}} main image"
              width="1000"
              class="img"
            />
          </div>

          {% for photo in photos %}
          <div class="carousel-item w-100">
            <img
              src="/media/{{ photo.photo }}"
              alt="{{article.title}} items"
              width="1000"
              class="img"
            />
          </div>
          {% endfor %}
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    {% endif %}
    <h4 class="fs-5 mb-3">모임 일자: {{ article.meeting_date.month }}월 {{ article.meeting_date.day }}일 {{ article.meeting_time }}</h4>
    <h4 class="fs-5 mb-3">모임 장소: {{ article.location }}</h4> 
    <h4 class="fs-5 mb-3">참여 인원: {{ member_count }} / {{ article.member_limit }}{% if isFullMember %} (인원이 가득 찼습니다){% endif %}</h4>
    <br>
    <div class="fs-5 mb-3 d-flex justify-content-center">{{ article.content }}</div>

    <hr class="mb-5" />
  </div>

  <div class="container col-12 col-md-8 col-lg-6 mx-auto">
    <form
      action="{% url 'articles:comments_create' article.pk %}"
      method="POST"
      class="mb-5"
    >
      {% csrf_token %}
      <div>
        <div class="mb-3">{{ comment_form.content }}</div>
        <div class="d-flex justify-content-end">
          <button
            type="submit"
            class="btn btn-secondary rounded-pill right start-0"
          >
            댓글 등록
          </button>
        </div>
      </div>
    </form>

    {% for comment in comments %}
    <div class="container d-flex flex-column mb-2 position-relative">
      <div class="d-flex align-items-center mb-3">
        <div
          class="rounded-pill bg-light me-3 position-relative"
          style="width: 45px; height: 45px"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor "
            class="bi bi-send-check m-auto position-absolute"
            viewBox="0 0 16 16"
            style="color: black; top: 25%; left: 25%"
          >
            <path
              d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z"
            />
            <path
              d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"
            />
          </svg>
        </div>
        <div>
          <p class="mb-1">{{ comment.user.nickname }}</p>
          <p class="mb-0" style="font-size: 10px">{{comment.created_at}}</p>
        </div>
      </div>
      <p>{{ comment.content }}</p>
      {% if comment.user == user %}
      <form
        action="{% url 'articles:comments_delete' article.pk comment.pk %}"
        method="POST"
        class="position-absolute end-0 top-50"
      >
        {% csrf_token %}
        <button type="submit" class="rounded-pill border-0 bg-danger">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-trash"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
            />
            <path
              fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
            />
          </svg>
        </button>
      </form>
      {% endif %}
    </div>
    <hr />
    {% endfor %}
  </div>
</div>

{% endblock context %} {% block script %}
<script>
  function updataApplyState(response) {
    const applyBtn = document.querySelector(".applyBtn");
    const state = response.state;
    if (state) {
      applyBtn.innerText = "지원 취소";
    } else {
      applyBtn.innerText = "지원";
    }
  }

  async function onSubmit(event) {
    event.preventDefault();

    const url = `apply/`;

    const csrftoken = document.querySelector(
      "[name=csrfmiddlewaretoken]"
    ).value;
    const config = {
      headers: { "X-CSRFToken": csrftoken },
    };

    const response = await axios.patch(url, {}, config);

    updataApplyState(response.data);
  }

  const applyForm = document.querySelector("#applyForm");
  applyForm?.addEventListener("submit", onSubmit);

  const carouselButton = document.querySelector("#carouselButton");
  const firstButton = carouselButton.childNodes[1];
  firstButton.classList.add("active");
  firstButton.ariaCurrent = "true";
  const carouselExampleIndicators = document.querySelector(
    "#carouselExampleIndicators"
  );
  const firstPhoto = carouselExampleIndicators.childNodes[3].childNodes[1];
  console.log(firstPhoto);
  firstPhoto.classList.add("active");
</script>
{% endblock script %}
